.input-row {
    display: flex;
}

.input-row > .input-group,
.input-row > .radio-group {
    flex: 1;
}

.input-row > .input-group + .input-group,
.input-row > .radio-group + .input-group {
    margin-left: 1rem;
}

.radio-group {
    margin-bottom: 1.2rem;
}

.radio-group > label {
    display: inline-block;
    margin-bottom: 0.6rem;
    font-weight: 700;
}

.radio-inline {
    display: flex;
}

.radio-inline > .radio-item + .radio-item {
    margin-left: 1.2rem;
}

.button {
    cursor: pointer;
    height: 4rem;
    border: none;
    border-radius: 0.2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--control-on-background);
    color: var(--text-light);
    font-weight: 700;
    transition: background-color 0.2s;
}

.button:hover {
    background: var(--control-on-background-lighten);
}

.button-block {
    width: 100%;
}

.main-container {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    grid-template-areas: 
        "user-input calculated-input"
        "calc-button calc-button";
    gap: 0.8rem;
}

.user-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: user-input;
}

.user-input-container > button {
    margin-bottom: 2rem;
}

.calculated-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: calculated-input;
    border: 3px solid var(--control-on-background);
    border-radius: 0.6rem;
    padding: 1rem;
}

.calculate-button {
    grid-area: calc-button;
}

.classful-inputs {
    display: grid;
    grid-template: 1fr / 5fr 3fr;
    column-gap: 0.8rem;
}

@media (max-width: 850px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
}